$primary-400: hsl(237, 45%, 90%);
$primary-700: hsl(232, 62%, 57%);

$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 0%, 80%);
$neutral-900: hsl(0, 0%, 0%);

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

$fs-300: 1.2rem;
$fs-400: 1.4rem;
$fs-600: 4.2rem;