input[type=search] {
    background-image: url('../img/bx-right-arrow-alt.svg');
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.875rem 1.875rem;
    width: 40%;
    padding: 1rem 2.5rem 1rem 1rem;

    
}